<a href="https://colab.research.google.com/github/MHaley206265/Lambdata-MattHaley/blob/master/DSPT6_311_Matt_Haley.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
from sklearn.model_selection import train_test_split
import math
! pip install -i https://test.pypi.org/simple/ lambdata-dspt6-MattHaley==0.0.6

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-dspt6-MattHaley==0.0.6
  Downloading https://test-files.pythonhosted.org/packages/69/80/1ad0a8c8063cf88f2985b9b33c26d59ed592d5d64fb629ce8e29092b1a1c/lambdata_dspt6_MattHaley-0.0.6-py3-none-any.whl
Installing collected packages: lambdata-dspt6-MattHaley
Successfully installed lambdata-dspt6-MattHaley-0.0.6

In [2]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'sex',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=columns, index_col=False)

In [4]:
df.head()

   age          workclass  fnlwgt  ... capital-loss  hours-per-week  native-country
0   39          State-gov   77516  ...            0              40   United-States
1   50   Self-emp-not-inc   83311  ...            0              13   United-States
2   38            Private  215646  ...            0              40   United-States
3   53            Private  234721  ...            0              40   United-States
4   28            Private  338409  ...            0              40            Cuba

[5 rows x 14 columns]

In [5]:
from my_lambdata.ds_utilities import DfHelper

In [6]:
dfhelp = DfHelper(df)

In [7]:
dfhelp.has_null()

Feature           Nulls
--------------  -------
age                   0
workclass             0
fnlwgt                0
education             0
education-num         0
marital-status        0
occupation            0
relationship          0
race                  0
sex                   0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country        0
Total                 0

False

In [8]:
print(dfhelp.has_null.__doc__)

 has_null:

              Takes in a dataframe (df) and returns a value of
              True if the dataframe has null values or False if
              the dataframe does not containe null values.

              By default, this also prints a table showing which
              features contain null values as well as how many null
              values they contain. This cant be disabled by passing
              in a False value for details.

              -----------
              Parameters:
              -----------

                  df (pd.DataFrame): A DataFrame that will be checked for
                                    null values.

                  details (boolean): True or False, will determine whether
                                    or not the detailed table will be
                                    displayed.

In [9]:
train, val, test = dfhelp.train_val_test()
print(train.shape)
print(test.shape)
print(val.shape)

(22792, 14)
(4885, 14)
(4884, 14)

In [10]:
print(dfhelp.train_val_test.__doc__)

train_val_test:

              This function splits a dataframe into train, validation
              and test sets.  By default it splits the dataframe 70%/15%/15%
              into train, validation, and test respectively

              ----------
              Parameters
              ----------

                df (pd.DataFrame): a dataframe to be split

                train_size (float): float between 0 and 1 that will determine
                                    the percentage of the original dataframe
                                    that will be used to make the train set.

                val_size (float): float between 0 and 1 that will determine
                                  the percentage of the remaining dataframe
                                  that will be used to make the validation
                                  set. The remaining percentage will be used
                                  to make the test set.